/* ==========================*/
/*     ESTILOS GLOBAIS       */
/* ==========================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(150deg, #ff1b1b, #e3e3e3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 30px;
}

/* ==========================*/
/*      LISTA DE CARDS       */
/* ==========================*/

.list {
  text-align: center;
  width: 900px;
  color: white;
}

.list h1 {
  font-size: 3rem;
  margin-bottom: 25px;
  text-shadow: 0px 0px 10px black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  justify-content: center;
  gap: 15px;
}

/* ==========================*/
/*      CARD DO POKEMON      */
/* ==========================*/

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 10px #000;
}

.card img {
  width: 100px;
  height: 100px;
}

/* ==========================*/
/*        PAGINAÇÃO          */
/* ==========================*/

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.pagination button {
  background: black;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.pagination button:hover:not(:disabled) {
  background: yellow;
  color: black;
}

.pagination button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

/* ==========================*/
/*       MODAL DETALHE       */
/* ==========================*/

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  color: black;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

.modal img {
  width: 150px;
}

.modal button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: red;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal button:hover {
  opacity: .8;
}
